<h1>New Movie</h1>
<%= form_for :movie, url: movies_path do |f| %>
  <% if not @movie.nil? and @movie.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize @movie.errors.count, "error" %> prohibited
      this movie from being saved:</h2>
    <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, class: "aria-label" %>
    <%= f.text_field :title, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "aria-label" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
<%= link_to "<- Back", movies_path %>
